<header class="page__header">

    <div class="page__header--title"> 
        <!-- <p class="first-title"> fixed text <template></template></p>  -->
    </div>
    

    <div class="page__header--container">
        <p class="description"> Somos un colectivo que nace de la inquietud de <span class="highlight">investigar escenarios futuros para prototipar y visionar realidades alternativas.</span><br> Nos cuestionamos constantemente para experimentar <span class="highlight">nuevas maneras de ser y de parecer </span>, siempre desde un círculo de <span class="highlight">investigación y experimentación abierto y participativo. </span>
        <div class="distortion-text"></div>
    </div>
    
</header>
