<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> META - colectivo</title>
    <!-- <link rel="icon" href="" /> -->
    <link href="//db.onlinewebfonts.com/c/2596224269750e00c3ad5356299a3b9f?family=Ogg" rel="styleshee
    t" type="text/css"/> 
    <script src="assets/js/blotter.js"></script>
    <script src="assets/js/liquidDistortMaterial.js"></script>
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <partial src="_header.html" label="Header"> </partial>
      <partial src="_main.html" label="Main"></partial>
      <partial src="_aside.html" label="Aside"></partial>
      <partial src="_contact.html" label="Contact"></partial>
    </div>
    <script src="assets/js/main.js"></script>
  </body>
</html>
